/* sidebar content */
#side-bar {
    width: 35%;
    margin-right: 30px;
}

#canvas-back {
    margin-left: 30px;
    margin-top: -45px;
}

/* fill */

#checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 8px;
}

#fill-title {
    font-size: 22px;
    font-weight: bold;
}

#myCheck {
    margin-left: 5px;
    font-size: 40px;
}