/* sidebar content */
#side-bar {
    width: 505px;
    margin-top: 60px;
}

/* page detail */

#first-detail, #second-detail, #third-detail,
#fourth-detail, #fifth-detail, #sixth-detail, #seventh-detail {
    background-color: rgb(255, 195, 242);
    color: rgb(255, 195, 242);
}

#first-detail, #third-detail, #fifth-detail, #seventh-detail {
    width: 70px;
    height: 30px;
}

#second-detail, #fourth-detail, #sixth-detail {
    width: 30px;
    margin-left: 21px;
}

#first-detail {
    margin-top: 52px;
}

#second-detail {
    height: 72px;
    margin-bottom: -200px;
}

#third-detail {
    margin-top: 200px;
}

#fourth-detail {
    height: 70px;
    margin-bottom: -225px;
}

#fifth-detail {
    margin-top: 220px;
}

#sixth-detail {
    height: 190px;
    margin-bottom: -80px;
}

#seventh-detail {
    margin-top: 80px;
}

/* fill */

#checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 10px;
    margin-top: 8px;
}

#fill-title {
    font-size: 22px;
    font-weight: bold;
}

#myCheck {
    margin-left: 5px;
    font-size: 40px;
}