/* sidebar content */

#app-background {
    margin-bottom: 7px;
    border: 1px dashed black;
    width: 500px;
    transition: 1s;
}

#background-title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 183px;
    margin-top: 5px;
    margin-bottom: 2px;
}

#background-info-f, #background-info-r {
    font-size: 16px;
}

#background-info-f {
    margin-left: 30px;
    margin-right: 30px;
}

#background-info-r {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

/* page detail */

#first-detail, #second-detail, #third-detail,
#fourth-detail, #fifth-detail {
    background-color: rgb(166, 255, 228);
    color: rgb(166, 255, 228);
}

#first-detail {
    width: 70px;
    height: 30px;
    margin-top: 25px;
}

#second-detail {
    width: 30px;
    height: 270px;
    margin-bottom: -225px;
    margin-left: 20px;
}

#third-detail {
    width: 70px;
    height: 30px;
    margin-top: 225px;
}

#fourth-detail {
    width: 30px;
    height: 222px;
    margin-bottom: -225px;
    margin-left: 20px;
}

#fifth-detail {
    width: 70px;
    height: 30px;
    margin-top: 225px;
}

/* fill */

#checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-bottom: 10px;
    margin-top: 8px;
}

#fill-title {
    font-size: 22px;
    font-weight: bold;
}

#myCheck {
    margin-left: 5px;
    font-size: 40px;
}