/* making sure root is display block */

#root {
    display: block;
}

#no-root {
    display: none;
}

/* how to page details */

#no-how-to-page {
    display: none;
}

#how-to-page {
    display: block;
}

/* containers on how to */

#back-but-container, #how-title-container, #how-content-container,
#td-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-but-container {
    margin-top: 40px;
}