/* Slider styling */

#slide-container {
    border: 2px dashed black;
    border-style: dashed;
    margin-right: 40px;
    width: 502px;
    transition: 1s;
}

#slide-container:hover, #app-background:hover, 
#button-container:hover, #drawing-but-container:hover {
    background-color: rgb(206, 255, 185);
}
  
.slider {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    -webkit-appearance: none;
    width: 460px;
    height: 15px;
    border-radius: 5px;
    background: rgb(166, 255, 228);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(15, 15, 15);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(15, 15, 15);
    cursor: pointer;
}

/* other parts of the slider */

#p-w, #line-w {
    margin-top: 13px;
    font-weight: bold;
    font-size: 22px;
}

#p-w {
    margin-left: 182px;
}