/* work above the canvas */

/* containers */

#content-container, #nav-container, #title-container, 
#github-container, #save-restore-container,
#save-container, #restore-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-container, #github-container {
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Details */

#title, #github, #current-selection, #save-drawing, #restore-drawing {
    font-weight: bold;
    transition: 1s;
}

#title {
    font-size: 30px;
    margin-left: 80px;
}

#github, #save-drawing, #restore-drawing {
    color: rgb(48, 48, 48);
    font-size: 18px;
    background-color: rgb(166, 255, 228);
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#save-drawing, #restore-drawing {
    padding-left: 12px;
    padding-right: 12px;
}

#github {
    margin-right: 227px;
    padding-left: 10px;
    padding-right: 10px;
}

#save-restore-container {
    margin-top: 5px;
    margin-bottom: 15px;
}

#save-drawing {
    margin-left: 50px;
}

#restore-drawing {
    margin-left: -50px;     /* fix margins */
}

#has-saved, #has-loaded {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

#has-saved {

}

#has-loaded {

}

#github:hover, #save-drawing:hover, #restore-drawing:hover {
    cursor: pointer;
    color: rgb(24, 24, 24);
    background-color: rgb(137, 255, 220);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
}

#current-selection {
    margin-right: 225px;
    font-size: 30px;
}

#trade-mark {
    font-size: 16px;
    margin-top: 200px;
}