/* work above the canvas */

/* containers */

#content-container, #nav-container, #select-shape-container, 
#github-container, #save-restore-container,
#save-container, #restore-container {
    display: flex;
    align-items: center;
}

#save-restore-container, #save-container, 
#restore-container, #nav-container {
    justify-content: space-between;
}

#content-container, #select-shape-container, #github-container,
#how-to-container {
    justify-content: center;
}

#select-shape-container {
    margin-top: 10px;
}

#how-to-container, #github-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Details */

#github, #current-selection, #save-drawing, 
#restore-drawing, #current-drawing, #how-to-but {
    font-weight: bold;
    transition: 1s;
}

#github, #save-drawing, #restore-drawing, 
#clear-but, #how-to-but {
    color: rgb(48, 48, 48);
    font-size: 18px;
    background-color: rgb(166, 255, 228);
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#save-drawing, #restore-drawing {
    padding-left: 12px;
    padding-right: 12px;
}

#how-to-but {
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 30px;
}

#github {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
}

#save-restore-container {
    margin-top: 5px;
    margin-bottom: 15px;
}

#save-drawing {
    margin-left: 40px;
}

#restore-drawing {
    margin-right: 40px;
}

#has-saved, #has-loaded {
    font-weight: bold;
    font-size: 20px;
}

#has-saved {
    margin-left: 5px;
}

#has-loaded {
    margin-right: 5px;
}

#github:hover, #save-drawing:hover, #how-to-but:hover,
#restore-drawing:hover, #clear-but:hover {
    cursor: pointer;
    color: rgb(24, 24, 24);
    background-color: rgb(137, 255, 220);
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
}

/* selection titles */

#current-selection {
    font-size: 24px;
}

#current-drawing {
    font-size: 24px;
    margin-left: 7px;
}